block content
  nav.navbar
    .navbar-start
      .navbar-item
        img.nav-item(src='../assets/temp_logo.svg' alt='Restaurant Logo')
      .navbar-item
        a(href='/') The 6ix Eatery
      .navbar-menu.is-active
        a.navbar-item(href='/menu') MENU
        a.navbar-item(href='customerReservation') RESERVE A TABLE
    .navbar-end